* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.button:hover {
    opacity: 0.8;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.delete:hover {
    background-color: #c82333;
}

.update {
    background-color: #007bff;
    color: white;
}

.update:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.alojamiento {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.alojamiento:hover {
    transform: scale(1.05);
}

.alojamiento-image {
    max-width: 100%;
    border-radius: 8px;
    height: auto;
}

.form-inline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-inline input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-inline input[type="submit"]:hover {
    background-color: #45a049;
}

.form-inline input[type="text"], .form-inline input[type="file"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #575757;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: underline;
    font-weight: 700;
}
